body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", "微软雅黑", "宋体", Arial, sans-serif;
	background-image:url(../login/images/ad-img.jpg); background-size:100% auto;color:#4d3d33;
}
.login { position: absolute; top: 50%; width:1200px; height:680px; margin-top: -340px; left: 50%; margin-left: -600px;}
.login .login-box{ width:435px; height:560px; position:absolute; top:0px; right:0px; background:#fff; padding:50px;}
.login .login-box h1{ font-size:52px; margin-top:30px;font-weight:bold;}
.login .login-box .login-sub-title{ font-size:17px; margin:20px 0;}
.login .input-line label{ color:#666; font-size:16px;}
.login .button-large{ margin-top:10px; text-align:center; cursor:pointer; border-radius:1px;}

.form-group{ height:60px; line-height:60px; padding:0 0px 0 60px; background:#f6f6f6; border:1px solid #e7e7e7; margin-bottom:30px;}
.form-group .input{ background:none; border:none; border-radius:0; height:58px; line-height:58px; padding:0;}
.form-group .input-line img{ position:absolute; width:30px; height:30px; left:-45px; top:15px;}