html{margin:0;padding:0;border:0;/*-webkit-text-size-adjust:100%;*/-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section{margin:0;padding:0;border:0;font-size:13px;font:inherit;vertical-align:baseline;}
ul,li{ list-style:none;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section{display:block;}
body{font-size:16px;color:#666;background:#fff;font-family:Microsoft YaHei,simsun,Helvetica Neue,Helvetica, Arial, Helvetica, sans-serif;}
img{border:0;vertical-align:bottom;}
/*::-webkit-input-placeholder{color:#999;}*/
/*:-moz-placeholder{color:#999;}*/
/*::-moz-placeholder{color:#999;}*/
/*:-ms-input-placeholder{color:#ccc;}*/
/**{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}*/
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/*button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}*/
textarea{overflow:auto;}
input:focus,textarea:focus,button:focus,select:focus{outline:none;}
/*input::-ms-clear{display:none;}*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a{background:transparent;}
a:active,a:hover{outline:0;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.clearfix:after, .layout:after, .container:after, .container-layout:after, .line:after, .line-small:after, .line-middle:after, .line-big:after, .nav-main:after, .nav-sub:after, .navbar:after{content:" ";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .layout, .container, .container-layout, .line, .line-small, .line-middle, .line-big, .nav-main, .nav-sub, .navbar{display:block;}
.clear{clear:both;}
.alert{ padding:10px 15px; border-radius:5px; border:1px solid #ddd; font-size:14px;}
.float-left{float:left !important;}
.float-right{float:right !important;}
.close{display:inline-block;font-size:24px;cursor:pointer;line-height:24px;}
.close:before{content:"\00d7";}
.hide-flag{ width:100%;height:0px !important;margin:0px !important;padding:0px !important;border:0px !important;font-size:0px !important;clear:both !important;overflow:hidden !important;}
.hide{display: none;}
.hidden{ height:0 !important; padding:0 !important; overflow:hidden;}
.leftward{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-right:4px solid;border-top:4px solid transparent;border-bottom:4px solid transparent;}
.rightward{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-left:4px solid;border-top:4px solid transparent;border-bottom:4px solid transparent;}
.upward{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-bottom:4px solid;border-right:4px solid transparent;border-left:4px solid transparent;}
.downward,.arrow{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent;}
.drop{position:relative;}
.drop-menu{position:absolute;display:none;top:100%;left:0;z-index:1;float:left;min-width:160px;padding:5px 0;margin:1px 0 0;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.drop-menu.pull-right{right:0;left:auto;}
.drop-menu a{color:#333;padding:5px 20px;display:block;clear:both;white-space:nowrap;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
.drop-menu a:hover,.drop-menu a:focus{background:#f5f5f5;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
.drop-menu .disabled a{color:#999;pointer-events:none;}
.drop-menu .disabled a:hover,.drop-menu .disabled a:focus{cursor:not-allowed;}
.drop-menu .divider{background-color:#ddd;height:1px;overflow:hidden;margin:8px 0;}
.drop-menu .drop-meun-head{display:block;padding:5px 20px;font-size:12px;color:#999;}
.open .drop-menu{display:block;}
.animate{transition:all .2s}
.duration-animate{-webkit-animation-duration: .3s;animation-duration: .3s;-webkit-animation-fill-mode: both; animation-fill-mode: both}
button,input,optgroup,select,textarea{margin:0;font:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
table{border-spacing:0;border-collapse:collapse;}
td,th{padding:0;}
.mt5{margin-top: 5px;}
.mb5,.margin-bottom{margin-bottom: 5px;}
.ml5,.margin-left{margin-left: 5px;}
.mr5,.margin-right{ margin-right:5px;}
.mb15{margin-bottom: 15px;}

.button{border:solid 1px #ddd;background:transparent;border-radius:4px;font-size:14px;padding:8px 15px;margin:0;cursor: pointer;display:inline-block;line-height:20px;/*transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;*/}
.button[disabled]{pointer-events:none;cursor:not-allowed;/*webkit-box-shadow:none;*/box-shadow:none;/*filter:alpha(opacity=50);*/opacity:.5;}
.button:active{background-image:none;outline:0;transition:all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
.button:hover{transition:all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
.button-block{display:block;width:100%;}
.button-half{width:25%; text-align:center;}
.button-full{ text-align:center; display:block; border:none; font-size:18px; cursor:pointer;}
.button-large{padding:15px 20px;font-size:20px;line-height:24px;}
.button-big{padding:10px 15px;font-size:18px;line-height:22px;}
.button-common{padding:5px 15px;font-size:14px;font-weight:normal;line-height:18px;}
.button-small{padding:5px 10px;font-size:12px;font-weight:normal;line-height:18px;}
.button-little{padding:3px 6px;font-size:12px;font-weight:normal;line-height:16px;}
.button.bg-main,.button.bg-sub,.button.bg-dot,.button.bg-black,.button.bg-gray,.button.bg-red,.button.bg-yellow,.button.bg-blue,.button.bg-green{color:#fff;}
.button-group, .button-group-y{display:inline-block;position:relative;vertical-align:middle;}
.button-group .button, .button-group .button-group{float:left;position:relative;font-weight:normal;}
.button-group :not(:first-child):not(:last-child):not(.dropdown-toggle).button,.button-group .button-group .button{border-radius:0;}
.button-group .button, .button-group .button-group .button{margin-left:-1px; margin-top: 5px;}
.button-group :first-child:not(:last-child).button:not(.dropdown-toggle){border-top-right-radius:0px;border-bottom-right-radius:0px;}
.button-group :last-child:not(:first-child).button:not(.dropdown-toggle){border-bottom-left-radius:0px;border-top-left-radius:0px;}
.button-group .button-group:first-child .button:last-child,
.button-group .button-group:first-child .dropdown-toggle{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.button-group .button-group:last-child .button:first-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.button-group :not(:first-child).dropdown-toggle{border-bottom-left-radius:0px;border-top-left-radius:0px;padding:6px;}
.button-toolbar{display:inline-block;}
.button-toolbar .button-group{display:inline-block;}
.button-group-y .button, .button-group-y .button-group{float:none;clear:both;display:block;width:100%;font-weight:normal;}
.button-group-y :not(:first-child):not(:last-child):not(.dropdown-toggle).button,
.button-group-y .button-group .button{border-radius:0;}
.button-group-y .button, .button-group-y .button-group-y .button, .button-group-y .button-group .button{margin-left:0;margin-top:-1px;}
.button-group-y :first-child:not(:last-child).button:not(.dropdown-toggle){border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.button-group-y :last-child:not(:first-child).button:not(.dropdown-toggle){border-top-right-radius:0px;border-top-left-radius:0px;}
.button-group-y .button-group:first-child .button:last-child,
.button-group-y .button-group:first-child .dropdown-toggle{border-top-left-radius:5px;border-top-right-radius:5px;}
.button-group-y .button-group:last-child .button:first-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.button-group-justified{display:table;width:100%;table-layout:fixed;border-collapse:separate;text-align:center;}
.button-group-justified > .button,.button-group-justified > .button-group{display:table-cell;float:none;width:1%;}
.button-group-justified > .button-group .button{width:100%;margin:0;}
.button-group-justified .drop-menu{text-align:left;}
.button-group-large .button{padding:15px 20px;font-size:24px;line-height:24px;font-weight:bold;}
.button-group-big .button{padding:10px 15px;font-size:18px;line-height:22px;}
.button-group-small .button{padding:5px 10px;font-size:12px;font-weight:normal;line-height:18px;}
.button-group-little .button{padding:3px 5px;font-size:12px;font-weight:normal;line-height:16px;}
.button-group label input,.button-group .labelbutton input{position:absolute;/*filter:alpha(opacity=0);*/opacity:0;z-index:-1;}
.checkbox{ margin:5px 10px 5px 0; height:30px; line-height:30px; display:inline-block;}
.checkbox input{ display:none;}
.checkbox i{ display:inline-block; line-height:30px; width:30px; border:1px solid #d2d2d2; border-radius:2px 0 0 2px; text-align:center; color:#fff;}
.checkbox span{ display:inline-block; line-height:32px; padding:0 10px; background:#d2d2d2; color:#fff; border-radius:0 2px 2px 0;}
.checkbox:hover i{ color:#c2c2c2;}
.checkbox:hover span{ background:#c2c2c2;}
.checkbox.checked i{ color:#009688;}
.checkbox.checked span{ background:#009688;}
.checkbox.checked:hover i{ color:#00887b;}
.checkbox.checked:hover span{ background:#00887b;}
.radio .icon, .checkbox .icon{display: none;}
.radio .active .icon, .checkbox .active .icon{display: inline-block;}
.input-inline{padding-left:1px;}
.input-inline input{position:relative;float:left;border-radius:0;margin-left:-1px;width:auto;}

.button-line{ border-bottom:2px solid #fff; line-height:30px; display:inline-block; font-size:16px; margin-right:20px;}
.button-line.active{ border-bottom:2px solid #009688; /*color:#009688;*/}


.input-block{padding-top:8px;}
.input-block:first-child{padding-top:1px;}
.input-block input{position:relative;margin-top:-1px;border-radius:0;}
.input-block input:first-child{border-radius:4px 4px 0 0;}
.input-block input:last-child{border-radius:0 0 4px 4px;}
.label-block label{display:block;line-height:24px;}

.input-line{position:relative;}
.input-line input{}
.input-line label{display:block;line-height:24px; padding-bottom:10px;}
.input-line .form-icon{ display:inline-block; width:30px; height:30px; text-align:center; line-height:30px; position:absolute; right:-35px; top:38px;}

.input-group{border-collapse:separate;display:table;position:relative;}
.input-group .addon, .input-group .addbtn, .input-group .input{display:table-cell;}
.input-group .addon, .input-group .addbtn{width:1%;white-space:nowrap;vertical-align:middle;}
.input-group .addbtn .button{font-weight:normal;}
.input-group .input{width:100%;}
.input-group .addon{background-color:#f5f5f5;border:1px solid #ddd;border-radius:4px;line-height:1;padding:6px 12px;text-align:center;}
.input-group .addon:first-child, .input-group .addbtn:first-child .button{border-right:0 none;}
.input-group .addon:first-child, .input-group .addbtn:first-child .button, .input-group .input:first-child{border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group .addon:last-child, .input-group .addbtn:last-child .button{border-left:0 none;}
.input-group .addon:last-child, .input-group .addbtn:last-child .button, .input-group .input:last-child{border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group .addon:not(:first-child):not(:last-child),.input-group .addbtn:not(:first-child):not(:last-child) .button,.input-group .input:not(:first-child):not(:last-child){border-radius:0;}
.input{font-size:14px;padding:8px 10px;border:solid 1px #ddd;width:100%;height:20px;line-height:20px;display:block;border-radius:4px;/*-webkit-appearance:none;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;*//*transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;*/}
select.input{height: 38px;}
.label{padding-bottom:7px;display:block;line-height:20px;}
.label label{font-weight:bold;}
.input-file{display:inline-block;position:relative;overflow:hidden;text-align:center;width:auto;color:#333;}
.input-file input[type="file"]{position:absolute;top:0;right:0;font-size:14px;background-color:#fff;transform:translate(-300px, 0px) scale(4);height:40px;opacity:0;/*filter:alpha(opacity=0);*/}
.input:focus{border-color:rgba(0, 150, 136, 0.5);transition:all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
.input-auto{width:auto;display:inline-block;}
input[disabled],input[readonly],textarea[disabled],textarea[readonly],select[disabled],select[readonly]{cursor:not-allowed;background:#eee;}/*IE6无效*/
input.js-time[readonly]{cursor:pointer; background: #FFFFFF;}
textarea.input{height:auto;}
.input-note, .label .float-right{color:#999;font-size:12px;padding-top:2px;line-height:18px;}
.field{position:relative;}
.form-group{padding-bottom:10px;}
.form-x .form-group .label{float:left;width:15%;text-align:right;padding:10px 30px 10px 0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.form-x .form-group .field{float:left;width:auto;}
.form-x .form-group:after, .form-inline:after{clear:both;content:" ";display:block;height:0;overflow:hidden;visibility:hidden;}
.form-x .form-group .label label{font-weight: normal;}
.form-x .form-button{margin-left:15%;}

.form-ajax-group{ display:block;}
.form-ajax-group .group-box{ float:left; line-height:30px; position:relative; border-radius:3px 3px 0 0; border:1px solid rgba(255,255,255,0);}
.form-ajax-group .group-box.is-focus{ background:#fff; border:1px solid #ddd;}
.form-ajax-group .group-box .group-title{ cursor:pointer;padding:0px 15px; position:relative;z-index:1000; top:1px; height:40px; line-height:40px; font-size:18px;}
.form-ajax-group .group-box .group-title span{ display:inline-block; margin-right:5px;}
.form-ajax-group .group-box .select-group{ position:absolute; z-index:999; background:#fff; padding:0; border-radius:0 3px 3px 3px; border:1px solid #ddd; left:-1px; top:40px; display:none;}
.form-ajax-group .group-box .select-group span{ display:block; white-space:nowrap;}
.form-ajax-group .group-box.is-focus .group-title{ background:#fff;}
.form-ajax-group .group-box.is-focus .select-group{ display:block; min-width:101.5%;}
.form-ajax-group .group-box.is-focus .select-group li{ font-size:16px; line-height:34px; padding:0 30px 0 15px; cursor:pointer;}
.form-ajax-group .group-box.is-focus .select-group li:hover{ background:#f3f3f3;}

.form-inline{display:inline-block;}
.form-inline .input{width:auto;display:inline-block;}
.form-inline .form-text{display:inline-block; padding:8px 15px; font-size:14px;}
.form-inline .form-group{display:inline-table;padding-bottom:0;vertical-align:middle;}
.form-inline .form-group .input-group{display:inline-table;width:auto;vertical-align:middle;}
.form-inline .form-group .input-group .input{width:auto;}
.form-inline .form-group .label{display:inline-block;}
.form-inline .form-group .field{display:inline-block;}
.form-inline .form-button{display:inline-block;vertical-align:middle;}
.form-inline .form-button .button{width:auto;}
.form-auto .input{width:auto;display:inline-block;}
.form-auto .input-group{display:inline-table;width:auto;display:inline-block;}
.form-auto .input-group .input{width:auto;display:inline-block;}
.form-search-box .input{ border-radius:4px 0 0 4px;}
.input-inline{padding-left:1px;}
.input-inline input{position:relative;float:left;border-radius:0;margin-left:-1px;width:auto;}
.form-small .input-inline input,.form-big .input-inline input{border-radius:0;}
.input-inline input:first-child{left:1px;border-radius:4px 0 0 4px;}
.input-inline input:last-child{border-radius:0 4px 4px 0;}
.field-icon .input{text-indent:25px;}
.field-icon .icon{position:absolute;left:0;right:auto;width:34px;height:34px;text-align:center;line-height:34px;font-size:16px;font-weight:normal;}
.field-icon-right .icon{position:absolute;right:0;top:0;width:34px;height:34px;text-align:center;line-height:34px;font-size:16px;font-weight:normal;}

#tips{ display:inline-block;}
.alert{ /*margin-bottom:20px;*/}
.panel{ background:#fff;}
.panel-head{background-color:#fff;line-height:50px; padding:0 15px;border-bottom:solid 1px #ddd; position:relative; font-size:16px;}
.panel-head strong{padding:0 20px 0 0;line-height:40px; display:inline-block; font-weight:normal;}
.panel-head span{display:inline-block;}
.panel-head .button-group .button{ margin-top:10px;}
.panel-head .tag{position:absolute; right:15px; top:15px; display:inline-block; line-height:16px;}
.panel-head .panel-head-tab{ position:absolute; right:0px; bottom:-3px; overflow:hidden;}
.panel-head .panel-head-tab li{ float:left; padding:0 15px; height:34px; line-height:34px;}
.panel-head .panel-head-tab li.active{ border-left:1px solid #dadada; border-right:1px solid #ccc; border-top:2px solid #006090;background:#fff;}
.panel-head .tab-head{ padding-top:10px; margin-bottom:-1px;}
.panel-foot{padding:10px 20px;border-radius:0 0 4px 4px;border-top:solid 1px #ddd; }
.fixed-pannel .panel-foot{position:fixed; width:100%; bottom:0; left:0; background:#fff; z-index:100;}
.fixed-pannel{}
.fixed-pannel:after{ content:''; height:63px; width:100%; display:block;}
.panel-body{padding:15px; background:#fff;}
.panel-body .panel-block{ min-height:100px;}
.panel .bg-main,.panel .bg-sub,.panel .bg-dot,.panel .bg-red,.panel .bg-yellow,.panel .bg-green{color:#fff;}
.panel .panel-body + .table, .panel .panel-body + .list-group{border-top:solid 1px #ddd;}
.panel .list-group{border:none;border-radius:0;}

.pannel-tab .panel-tab-head{ line-height:40px; padding-top:10px;}
.pannel-tab .panel-tab-head li{ display:inline-block; position:relative; padding:0 5px;}
.pannel-tab .panel-tab-head li span{ padding:0 10px; font-size:15px; color:#888;}
.pannel-tab .panel-tab-head .tab-active span{ color:#666;}
.pannel-tab .panel-tab-head .tab-active:after{ content:''; position:absolute; top:0; left:0; width:100%; height:calc(100% + 1px); border:1px solid #ddd; border-bottom:1px solid #fff; border-radius:3px 3px 0 0;}
.pannel-tab .panel-tab-body .panel-tab-item{ display:none;}
.pannel-tab .panel-tab-body .panel-tab-item.tab-active{ display:block;}


.flex-container{display:-webkit-box;display:box;}
.flex-container .flex-item{-webkit-box-flex:1.0;box-flex:1.0;}
.num-item-box h4{ color:#888; font-size:12px; margin:10px 0;}
.num-item-box{ cursor:pointer; }
.num-item-box.col-box{background:#f5f5f5; margin:5px 5px; padding:5px 10px;}
.num-item-box .item-num{ font-size:30px; color:#009688; line-height:40px;}

.tab .tab-head strong{/*float:left;*/padding:10px 20px 0 0;line-height:20px;}
.tab .tab-more{float:right;margin:10px 0 0 10px;font-size:12px;}
.tab .tab-nav{list-style:none; /*text-align:right;*/ line-height:40px;}
.tab .tab-nav li{display:inline-block;}
.tab .tab-nav li.hide{ display:none;}
.tab .tab-nav li a{color:#888;padding:0 20px;display:block;border:solid 1px #fff;line-height:40px;border-bottom:none;border-radius:4px 4px 0 0;}
.tab .tab-nav .active{background-color:#fff; position:relative;}
.tab .tab-nav .active a:after{ content:''; width:100%; height:41px; position:absolute; top:0; left:0;border:1px solid #ddd; border-bottom:1px solid #fff; border-radius:3px 3px 0 0;}
.tab .tab-nav .active a{cursor:default;}
.tab .tab-body{border-top:solid 1px #ddd;padding-top:15px;}
.tab .tab-body-bordered{border:solid 1px #ddd;border-radius:4px;padding:15px;}
.tab .tab-body .tab-panel{/*display:none;*/ width:100%; height:0; overflow:hidden; margin:0; padding:0; border:0;}
.tab .tab-body .active{/*display:block;*/ width:auto; height:auto;}
.tab.tab-small strong{padding-top:3px;}
.tab.tab-small .tab-more{margin:5px 0 0 10px;}
.tab.tab-small li a{padding:3px 10px;}

.pagination{list-style:none;margin:0;padding:0;display:inline-block;vertical-align:bottom; float:right; overflow:hidden;}
.pagination li{display:inline-block;border:solid 1px #ddd;border-radius:4px; margin-right:5px; float:left; background:#fff;}
.pagination a{color:#333;padding:5px 12px;line-height:18px;display:block;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;font-size:13px;}
.pagination span{color:#333;padding:5px 12px;line-height:18px;display:block;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s; font-size:13px;}
.pagination .disabled a:link, .pagination .disabled a:visited, .pagination .disabled a:hover{cursor:not-allowed;pointer-events:none;color:#ddd;}
.pagination .active{pointer-events:none;background:#009688; border-radius:4px;transition:all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
.pagination .active span{color:#fff;}
.pagination-group{border-right:solid 1px #ddd;border-radius:4px;}
.pagination-group li{float:left;border-right:none;border-radius:0;}
.pagination-group li:not(:first-child):not(:last-child){border-radius:0;}
.pagination-group li:first-child{border-radius:4px 0 0 4px;}
.pagination-group li:last-child{border-radius:0 4px 4px 0;}
.pagination-group .active,.pagination-group a:hover{background:#f5f5f5;border-radius:0;}
.pagination-big a{padding:10px 16px;font-size:16px;}
.pagination-small a{padding:5px 10px;font-size:12px;}
.pagination.border-main .active a, .pagination.border-sub .active a, .pagination.border-dot .active a,
.pagination.border-black .active a, .pagination.border-gray .active a, .pagination.border-red .active a,
.pagination.border-yellow .active a, .pagination.border-blue .active a, .pagination.border-green .active a{color:#fff;}

.table-tools{padding:10px;border-bottom:1px solid #ddd;}
.cate-tree{border-bottom:1px solid #ddd;}
.cate-tree .panel-head{ height: 62px;line-height: 62px;}
.cate-tree .panel-body{padding:0px 0px;}
.cate-tree ul li{height: 40px;line-height: 40px;padding-left: 10px; cursor: pointer; font-size: 14px;}
.cate-tree ul li.current{background: #009688; color: #FFFFFF;}
.cate-tree ul li.current a{background: #009688; color: #FFFFFF;}
.cate-body .panel-head {border-bottom: none; color: #666666;}
.cate-body ul{padding: 10px 30px 30px 30px;}
.cate-body ul li{list-style:inside; line-height: 50px;height: 50px; border-bottom: 1px solid #f0f3f7; cursor: pointer;}
.cate-body .content{padding: 10px 30px 30px 30px;}
.cate-body .content img{max-width:95%;}
.layer-msg-box{ max-width: 90%;}
.layer-msg-box img,.answer-detail img{ max-width:100%; max-height: 90%;}
.table-responsive{ padding:15px 10px;}
.table{width:100%;max-width:100%; font-size:14px; position:relative;}
.table th{ border:1px solid #ddd;border-bottom:2px solid #ddd;vertical-align:bottom;padding:5px 10px;text-align:left; line-height:30px; background:#f6f6f6;}
.layui-table thead tr{border:1px solid #ddd;border-bottom:2px solid #ddd;vertical-align:bottom; background:#f6f6f6;border-left: none;}
.layui-table thead th{font-weight: bold;padding:5px 10px;text-align:left; line-height:30px;border:1px solid #ddd}
.layui-table td{border:1px solid #ddd;padding:5px 10px;vertical-align:middle; line-height:26px;}
a.layui-btn:visited,a.layui-btn:link,a.layui-btn:active,a.layui-btn:hover{color: #ffffff;}
.layui-btn.layui-btn-sm.layui-btn-warming {background: #dd2323;}
.layui-btn.layui-btn-sm.layui-btn-green {background: #2c7;}
.table td{border:1px solid #ddd;padding:5px 10px;vertical-align:middle; line-height:26px;}
.table th:first-child,.table th:last-child,.table td:first-child,.table td:last-child{ padding:5px 10px 5px 20px;}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{background-color:#f9f9f9;}/*条纹-IE9以下无效果*/
.table-bordered th,.table-bordered td{border:solid 1px #ddd;}
.table-bordered th{border-bottom:2px solid #ddd;}
.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th{background-color:#f5f5f5;}/*不支持IE6*/
.table-condensed th,.table-condensed td{padding:5px;}
.tag{font-size:75%;border-radius:0.25em;padding:0.1em 0.5em 0.2em;color:#fff;}
.table .sort_group{ display:inline; position:relative; margin-left:5px; width:10px; height:20px;}
.table .sort_group i{ position:absolute; border:5px dashed transparent; cursor:pointer;}
.table .sort_group i.sort-asc{ top:3px; border-top:none; border-bottom-style:solid; border-bottom-color:#b2b2b2;}
.table .sort_group i.sort-desc{ bottom:2px; border-bottom:none; border-top-style:solid; border-top-color:#b2b2b2;}
.table .sort_group i.sort-asc:hover{border-bottom-color:#666;}
.table .sort_group i.sort-desc:hover{border-top-color:#666;}
.table .table-right-btn{ position:absolute; right:0; top:-50px;}

.layout{width:100%;}
.container,.container-layout{margin:0 auto;padding:0 10px;}
.line{margin:0;padding:0;}
.text-black, a.text-black:link, a.text-black:visited,.button.border-black,blockquote.border-black strong,.pager.border-black a,.pager-prev.border-black,.pager-next.border-black
{color:#000;}
a.text-black:hover{color:#666;}
.text-gray, a.text-gray:link, a.text-gray:visited,.button.border-gray,blockquote.border-gray strong,.pager.border-gray a,.pager-prev.border-gray,.pager-next.border-gray
{color:#999;}
.text-white, a.text-white:link, a.text-white:visited,.button.border-white,blockquote.border-white,.pager.border-white a,.pager-prev.border-white,.pager-next.border-white
{color:#fff;}
.text-red, a.text-red:link, a.text-red:visited,.button.border-red,.button.bg-red-light,blockquote.border-red strong,.pager.border-red a,.pager-prev.border-red,.pager-next.border-red,.badge.bg-red-light,.alert-red,.check-error
{color:#e33;}
.text-yellow, a.text-yellow:link, a.text-yellow:visited,.button.border-yellow,.button.bg-yellow-light,blockquote.border-yellow strong,.pager.border-yellow a,.pager-prev.border-yellow,.pager-next.border-yellow,.badge.bg-yellow-light,.alert-yellow,.check-warning
{color:#f60;}
.text-blue, a.text-blue:link, a.text-blue:visited,.button.border-blue,.button.bg-blue-light,blockquote.border-blue strong,.pager.border-blue a,.pager-prev.border-blue,.pager-next.border-blue,.badge.bg-blue-light,.alert-blue
{color:#006090;}
.text-green, a.text-green:link, a.text-green:visited,.button.border-green,.button.bg-green-light,blockquote.border-green strong,.pager.border-green a,.pager-prev.border-green,.pager-next.border-green,.badge.bg-green-light,.alert-green,.check-success
{color:#2c7;}
.text-red-light, a.text-red-light:link, a.text-red-light:visited,.button.border-red-light,blockquote.border-red-light strong,.pager.border-red-light a
{color:#fdc;}
.text-yellow-light, a.text-yellow-light:link, a.text-yellow-light:visited,.button.border-yellow-light,blockquote.border-yellow-light strong,.pager.border-yellow-light a,.pager-prev.border-yellow-light,.pager-next.border-yellow-light
{color:#fec;}
.text-blue-light, a.text-blue-light:link, a.text-blue-light:visited,.button.border-blue-light,blockquote.border-blue-light strong,.pager.border-blue-light a,.pager-prev.border-blue-light,.pager-next.border-blue-light
{color:#def;}
.text-green-light, a.text-green-light:link, a.text-green-light:visited,.button.border-green-light,blockquote.border-green-light strong,.pager.border-green-light a,.pager-prev.border-green-light,.pager-next.border-green-light
{color:#ded;}
.bg-inverse, .bg-inverse a{color:#fff;}
a.text-white:hover, .bg-inverse a:hover{color:#ddd;}
.bg,.table .current, .table .current td,.table .current th,.button.active,.pointer.border .active,.nav-menu ul a:hover,.nav-menu.nav-pills .active ul a:hover,.bg-inverse .nav.nav-menu ul a:hover,.bg-inverse .nav.nav-menu .active ul a:hover,.bg-inverse .nav.nav-menu.nav-tabs ul a:hover,.bg-inverse .nav.nav-menu.nav-pills ul a:hover,.bg-inverse .nav-menu.nav-inline.nav-big ul a:hover,.navbar-body .nav ul a:hover
{background-color:#ededed;}
.bg-black,.border-black .button.active,.pointer.border-black .active,.nav-pills.border-black .active a,.nav-main.border-black .nav-head,.pagination.border-black .active
{background-color:#000;}
.bg-gray,.border-gray .button.active,.pointer.border-gray .active,.nav-pills.border-gray .active a,.nav-main.border-gray .nav-head,.pagination.border-gray .active
{background-color:#999;}
.bg-white,.button.bg,.border-white .button.active,.pointer.border-white .active,.nav-pills.border-white .active a,.nav-main.border-white .nav-head,.pagination.border-white .active
{background-color:#fff;}
.bg-red,.border-red .button.active,.pointer.border-red .active,.nav-pills.border-red .active a,.nav-main.border-red .nav-head,.pagination.border-red .active
{background-color:#dd2323 !important;}
.bg-yellow,.border-yellow .button.active,.pointer.border-yellow .active,.nav-pills.border-yellow .active a,.nav-main.border-yellow .nav-head,.pagination.border-yellow .active
{background-color:#f60;}
.bg-blue,.border-blue .button.active,.pointer.border-blue active,.nav-pills.border-blue .active a,.nav-main.border-blue .nav-head,.pagination.border-blue .active
{background-color:#1ea3ff;}
.bg-green,.border-green .button.active,.pointer.border-green .active,.nav-pills.border-green .active a,.pagination.border-green .active
{background-color:#2c7;}
.bg-red-light,.table .red, .table .red td, .table .red th,.alert-red,.border-red-light .button.active,.pointer.border-red-light .active,.nav-pills.border-red-light .active a,.nav-main.border-red-light .nav-head,.pagination.border-red-light .active
{background-color:#fee;}
.bg-yellow-light,.table .yellow, .table .yellow td, .table .yellow th,.alert-yellow,.border-yellow-light .button.active,.pointer.border-yellow-light .active,.nav-pills.border-yellow-light .active a,.nav-main.border-yellow-light .nav-head,.pagination.border-yellow-light .active
{background-color:#ffd;}
.bg-blue-light,.table .blue, .table .blue td, .table .blue th,.alert-blue,.border-blue-light .button.active,.pointer.border-blue-light .active,.nav-pills.border-blue-light .active a,.nav-main.border-blue-light .nav-head,.pagination.border-blue-light .active
{background-color:#dbe7ef;}
.bg-green-light,.table .green, .table .green td, .table .green th,.alert-green,.border-green-light .button.active,.pointer.border-green-light .active,.nav-pills.border-green-light .active a,.nav-main.border-green-light .nav-head,.pagination.border-green-light .active
{background-color:#efd;}
.border-dashed{border-style:dashed;}
.border-dotted{border-style:dotted;}
.border-double{border-style:double;}
.border-inset{border-style:inset;}
.border-outset{border-style:outset;}
.border-black,.border-black .button,.border-black .tab-nav li a,.border-black .tab-body,.button.bg-black,.selected.border-black,.pointer.border-black li,.nav.border-black .active a,.nav.nav-tabs.border-black,.nav-main.border-black a, .nav-main.border-black .nav-head,.pagination.border-black li,.pager.border-black a
{border-color:#000;}
.border-gray,.border-gray .button,.border-gray .tab-nav li a,.border-gray .tab-body,.button.bg-gray,.selected.border-gray,.pointer.border-gray li,.nav.border-gray .active a,.nav.nav-tabs.border-gray,.nav-main.border-gray a, .nav-main.border-gray .nav-head,.pagination.border-gray li,.pager.border-gray a
{border-color:#999;}
.border-white,.border-white .button,.border-white .tab-nav li a,.border-white .tab-body,.button.bg-white,.selected.border-white,.pointer.border-white li,.nav.border-white .active a,.nav.nav-tabs.border-white,.nav-main.border-white a, .nav-main.border-white .nav-head,.pagination.border-white li,.pager.border-white a
{border-color:#fff;}
.border-red,.border-red .button,.border-red .tab-nav li a,.border-red .tab-body,.button.bg-red,.selected.border-red,.pointer.border-red li,.check-error .input,.nav.border-red .active a,.nav.nav-tabs.border-red,.nav-main.border-red a, .nav-main.border-red .nav-head,.pagination.border-red li,.pager.border-red a
{border-color:#e15555;}
.border-yellow,.border-yellow .button,.border-yellow .tab-nav li a,.border-yellow .tab-body,.button.bg-yellow,.selected.border-yellow,.pointer.border-yellow li,.check-warning .input,.nav.border-yellow .active a,.nav.nav-tabs.border-yellow,.nav-main.border-yellow a, .nav-main.border-yellow .nav-head,.pagination.border-yellow li,.pager.border-yellow a
{border-color:#f60;}
.border-blue,.border-blue .button,.border-blue .tab-nav li a,.border-blue .tab-body,.button.bg-blue,.selected.border-blue,.pointer.border-blue li,.nav.border-blue .active a,.nav.nav-tabs.border-blue,.nav-main.border-blue a, .nav-main.border-blue .nav-head,.pagination.border-blue li,.pager.border-blue a
{border-color:#1ea3ff;}
.border-green,.border-green .button,.border-green .tab-nav li a,.border-green .tab-body,.button.bg-green,.selected.border-green,.pointer.border-green li,.check-success .input,.nav.border-green .active a,.nav.nav-tabs.border-green,.nav-main.border-green a, .nav-main.border-green .nav-head,.pagination.border-green li,.pager.border-green a
{border-color:#2c7;}
.border-red-light,.border-red-light .button,.border-red-light .tab-nav li a,.border-red-light .tab-body,.button.bg-red-light,.selected.border-red-light,.alert-red,.pointer.border-red-light li,.nav.border-red-light .active a,.nav.nav-tabs.border-red-light,.nav-main.border-red-light a, .nav-main.border-red-light .nav-head,.pagination.border-red-light li,.pager.border-red-light a
{border-color:#fee;}
.border-yellow-light,.border-yellow-light .button,.border-yellow-light .tab-nav li a,.border-yellow-light .tab-body,.button.bg-yellow-light,.selected.border-yellow-light,.alert-yellow,.pointer.border-yellow-light li,.nav.border-yellow-light .active a,.nav.nav-tabs.border-yellow-light,.nav-main.border-yellow-light a, .nav-main.border-yellow-light .nav-head,.pagination.border-yellow-light li,.pager.border-yellow-light a
{border-color:#ffd;}
.border-blue-light,.border-blue-light .button,.border-blue-light .tab-nav li a,.border-blue-light .tab-body,.button.bg-blue-light,.selected.border-blue-light,.alert-blue,.pointer.border-blue-light li,.nav.border-blue-light .active a,.nav.nav-tabs.border-blue-light,.nav-main.border-blue-light a, .nav-main.border-blue-light .nav-head,.pagination.border-blue-light li,.pager.border-blue-light a
{border-color:#dbe7ef;}
.border-green-light,.border-green-light .button,.border-green-light .tab-nav li a,.border-green-light .tab-body,.button.bg-green-light,.selected.border-green-light,.alert-green,.pointer.border-green-light li,.nav.border-green-light .active a,.nav.nav-tabs.border-green-light,.nav-main.border-green-light a, .nav-main.border-green-light .nav-head,.pagination.border-green-light li,.pager.border-green-light a
{border-color:#efd;}
.button:hover,.button:focus,.button.bg:hover,.button.bg:focus{background-color:#f5f5f5;}
.button.border-black:hover,.button.border-black:focus,.button.bg-black:hover,.button.bg-black:focus{color:#fff;border-color:#666;background-color:#666;}
.button.border-gray:hover,.button.border-gray:focus,.button.bg-gray:hover,.button.bg-gray:focus{color:#fff;border-color:#aaa;background-color:#aaa;}
.button.border-white:hover,.button.border-white:focus,.button.bg-white:hover,.button.bg-white:focus{color:#333;border-color:#d5d5d5;background-color:#f5f5f5;}
.button.border-red:hover,.button.border-red:focus,.button.bg-red:hover,.button.bg-red:focus{color:#fff;border-color:#bf2222;background-color:#bf2222;}
.button.border-yellow:hover,.button.border-yellow:focus,.button.bg-yellow:hover,.button.bg-yellow:focus{color:#fff;border-color:#f90;background-color:#f90;}
.button.border-blue:hover,.button.border-blue:focus,.button.bg-blue:hover,.button.bg-blue:focus{color:#fff;border-color:#0f9dff;background-color:#0f9dff;}
.button.border-green:hover,.button.border-green:focus,.button.bg-green:hover,.button.bg-green:focus{color:#fff;border-color:#5d8;background-color:#5d8;}
.button.border-red-light:hover,.button.border-red-light:focus,.button.bg-red-light:hover,.button.bg-red-light:focus,.alert-red:hover{color:#e33;border-color:#fdc;background-color:#fdc;}
.button.border-yellow-light:hover,.button.border-yellow-light:focus,.button.bg-yellow-light:hover,.button.bg-yellow-light:focus,.alert-yellow:hover{color:#f60;border-color:#fec;background-color:#fec;}
.button.border-blue-light:hover,.button.border-blue-light:focus,.button.bg-blue-light:hover,.button.bg-blue-light:focus,.alert-blue:hover{color:#006090;border-color:#c5d8e0;background-color:#c5d8e0;}
.button.border-green-light:hover,.button.border-green-light:focus,.button.bg-green-light:hover,.button.bg-green-light:focus,.alert-green:hover{color:#2c7;border-color:#cfa;background-color:#cfa;}

.button.active{ background:#009688; color:#fff; border:1px solid rgba(0, 150, 136, 0.2);}


/*--------自定义链接颜色(可选)--------*/

a{color:#333;text-decoration:none;} /*链接-颜色*/
a:focus,a:hover{color:#009688;} /*链接-悬浮颜色*/
/*--------自定义文本颜色--------*/
.text-main, a.text-main:link, a.text-main:visited,.button.border-main,blockquote.border-main strong,.pager.border-main a,.pager-prev.border-main,.pager-next.border-main,.nav a:hover,.nav-menu.nav-pills .active ul a:hover,.bg-inverse .nav-menu ul a:hover,.bg-inverse .nav.nav-menu.nav-tabs ul a:hover,.bg-inverse .nav.nav-menu.nav-tabs .active ul a:hover,.bg-inverse .nav.nav-menu.nav-pills ul a:hover,.bg-inverse .nav.nav-menu.nav-pills .active ul a:hover
{color:#009688;} /*文本-主色*/
.text-sub, a.text-sub:link, a.text-sub:visited,.button.border-sub,blockquote.border-sub strong,.pager.border-sub a,.pager-prev.border-sub,.pager-next.border-sub
{color:#2c7;} /*文本-辅色*/
.text-back, a.text-back:link, a.text-back:visited,.button.border-back,blockquote.border-back,.pager.border-back a,.pager-prev.border-back,.pager-next.border-back
{color:#b5cfd9;} /*文本-背景色*/
.text-mix, a.text-mix:link, a.text-mix:visited,.button.border-mix,blockquote.border-mix,.pager.border-mix a,.pager-prev.border-mix,.pager-next.border-mix
{color:#5cd;}/*文本-融合色*/
.text-dot, a.text-dot:link, a.text-dot:visited,.button.border-dot,blockquote.border-dot strong,.pager.border-dot a,.pager-prev.border-dot,.pager-next.border-dot
{color:#f60;}/*文本-点缀色*/
/*--------自定义背景色--------*/
.bg-main,.border-main .button.active,.pointer.border-main .active,.nav-pills.border-main .active a,.nav-main.border-main .nav-head,.pagination.border-main .active
{background-color:#009688;} /*背景-主色*/
.bg-sub,.border-sub .button.active,.pointer.border-sub .active,.nav-pills.border-sub .active a,.nav-main.border-sub .nav-head,.pagination.border-sub .active
{background-color:#2c7;} /*背景-辅色*/
.bg-back,.border-back .button.active,.pointer.border-back .active,.nav-pills.border-back .active a,.nav-main.border-back .nav-head,.pagination.border-back .active
{background-color:#f2f9fd;} /*背景-背景色*/
.bg-mix,.border-mix .button.active,.pointer.border-mix .active,.nav-pills.border-mix .active a,.pagination.border-mix .active
{background-color:#5cd;} /*背景-融合色*/
.bg-dot,.border-dot .button.active,.pointer.border-dot .active,.nav-pills.border-dot .active a,.nav-main.border-dot .nav-head,.pagination.border-dot .active
{background-color:#f60;} /*背景-点缀色*/
/*--------自定义边框色--------*/
.border-main,.border-main .button,.border-main .tab-nav li a,.border-main .tab-body,.button.bg-main,.selected.border-main,.pointer.border-main li,.nav.border-main .active a,.nav.nav-tabs.border-main,.nav-main.border-main a, .nav-main.border-main .nav-head,.pagination.border-main li,.pager.border-main a
{border-color:#009688;} /*边框-主色*/
.border-sub,.border-sub .button,.border-sub .tab-nav li a,.border-sub .tab-body,.button.bg-sub,.selected.border-sub,.pointer.border-sub li,.nav.border-sub .active a,.nav.nav-tabs.border-sub,.nav-main.border-sub a, .nav-main.border-sub .nav-head,.pagination.border-sub li,.pager.border-sub a
{border-color:#2c7;}/*边框-辅色*/
.border-back,.border-back .button,.border-back .tab-nav li a,.border-back .tab-body,.button.bg-back,.selected.border-back,.pointer.border-back li,.nav.border-back .active a,.nav.nav-tabs.border-back,.nav-main.border-back a, .nav-main.border-back .nav-head,.pagination.border-back li,.pager.border-back a
{border-color:#b5cfd9;}/*边框-背景色*/
.border-mix,.border-mix .button,.border-mix .tab-nav li a,.border-mix .tab-body,.button.bg-mix,.selected.border-mix,.pointer.border-mix li,.nav.border-mix .active a,.nav.nav-tabs.border-mix,.nav-main.border-mix a, .nav-main.border-mix .nav-head,.pagination.border-mix li,.pager.border-mix a
{border-color:#5cd;} /*边框-融合色*/
.border-dot,.border-dot .button,.border-dot .tab-nav li a,.border-dot .tab-body,.button.bg-dot,.selected.border-dot,.pointer.border-dot li,.nav.border-dot .active a,.nav.nav-tabs.border-dot,.nav-main.border-dot a, .nav-main.border-dot .nav-head,.pagination.border-dot li,.pager.border-dot a
{border-color:#f60;} /*边框-点缀色*/
/*--------自定义按钮悬浮文本、边框及背景色--------*/
.button.border-main:hover,.button.border-main:focus,.button.bg-main:hover,.button.bg-main:focus
{color:#fff;border-color:#00887b;background-color:#00887b;} /*主色-文本-边框-背景*/
.button.border-sub:hover,.button.border-sub:focus,.button.bg-sub:hover,.button.bg-sub:focus
{color:#fff;border-color:#b5cfd9;background-color:#b5cfd9;} /*配色-文本-边框-背景*/
.button.border-back:hover,.button.border-back:focus,.button.bg-back:hover,.button.bg-back:focus
{color:#333;border-color:#def;background-color:#def;} /*背景色-文本-边框-背景*/
.button.border-mix:hover,.button.border-mix:focus,.button.bg-mix:hover,.button.bg-mix:focus
{color:#333;border-color:#3bc;background-color:#3bc;} /*融合-文本色-边框-背景*/
.button.border-dot:hover,.button.border-dot:focus,.button.bg-dot:hover,.button.bg-dot:focus
{color:#fff;border-color:#f00;background-color:#f00;} /*点缀色-文本-边框-背景*/
/*--------自定义文字气泡-带删除--------*/
.pop-box{padding: 1px; float:left;margin-bottom: 10px;}
.pop-box .pop-border{ border: 1px solid #bababa; }
.pop-box .pop-close{background: url('/static/base/js/layer/skin/default/icon.png') no-repeat -125px -26px;background-size: 700% 203%;height: 25px;width: 25px;display: inline-block;position: relative;right: 21px;top: -10px;cursor: pointer;}
.pop-box .pop-content{display: inline-block; padding:5px 8px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-radius: 4px;}
.pop-box .pop-content:hover{color: #8c8c8c;}
.no-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor: pointer}

.toast-message a:hover{color: white !important; text-decoration: underline !important;}

.score-rule{ padding: 10px; display: none; line-height: 30px; }
.score-rule h4 {font-size: 20px; text-align: center;z-index: 99999}
.score-rule h4:hover{ text-decoration: underline;}


.js-position{cursor: pointer;}
.position:hover{text-decoration: underline;color: #009688;}


.file-list .file-box{margin-bottom: 10px;}
.file-list .file-box p a,.file-list li.file-box a{text-decoration: underline;color: #009688;}
.file-list .file-box .delete{cursor: pointer;margin-left: 10px;}
.layui-layer-btn a{border: none;}
.layui-layer-molv .layui-layer-btn .layui-layer-btn1{color: white;}



#box .layui-form-label{width: 90px;}
#box .layui-form-checkbox i{height: 30px;}
#box .layui-input-block{margin-left: 120px;}
#box .submit-btn{margin-left: 90px}
#box .layui-form-checked span{background-color: #009688}
.box p b{font-weight:normal; width:100px; display:inline-block; float:left;color: #888; height: 40px;line-height: 40px;}
.box p{height: 40px;line-height: 40px;}
.red{color: red;}

.admin_tab{background: white;}
.admin_tab .layui-form-label{width: 170px}
.admin_tab .input-tips{margin-left: 200px;color: #999;font-size: 12px;padding:10px 0 10px;line-height: 18px;}
.table-foot#page{text-align: right;}

.wechat{color: #58a433}
.alipay{ color: #00aff2;}
.offline{ color: #a1c31e;}

.file-box{border-bottom: 10px;}
.file-box li{cursor: pointer;}
.file-box li i{margin-left: 30px;}
.layui-tab-title li{left: 10px;}
.img_box{width: 50px;height: 50px;}
.img_box img,.preview img{width: 100%;height: auto;}
img:hover{cursor: pointer;}
.empty_row p{height: 100px;line-height: 100px;text-align: center;}
.border{border: solid 1px #e6e6e6;border-radius:2px;}
/*.layui-btn-group .layui-btn{border: 1px solid rgba(255,255,255,.5);border-right: none;border-bottom: none;}*/
.layui-card .layui-card-header h3{font-size: 17px;}
.preview img{display: block; max-width: 100%;height: auto; max-height: 100%;}
.w500{width: 500px;}
.js-location{cursor: pointer;}
tbody .layui-table-cell{height: 40px;line-height: 40px;}
.layui-table-view{border-top: none !important;}
.layui-table-page{text-align: right;}
.layui-layer-btn .layui-layer-btn0{border-color:#009688 !important;background-color:#009688 !important;color:#fff}
.js-map{cursor:pointer;}
.js-map:hover{text-decoration: underline;color: #009688;}
.layui-form-select dl dd.layui-this { background-color: #009688 !important;}
.layui-btn-group .layui-btn:first-child {padding-right: 11px;border-radius:2px 0px 0px 0px !important;}
.layui-btn-group .layui-btn:last-child {border-radius:0px 0px 2px 0px !important;}
.layui-form-checked span, .layui-form-checked:hover span {background-color: #009688 !important;}